<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                本日の注文件数：<%= link_to @orders.count,  admins_orders_path(key: "today") %>件
            </div>
        </div>
    </div>
</div>