
<table>
  <h1>ショッピングカート</h1>
</table>
<% @cart_items.each do |item| %>
<p><%= item.item.name %></p>
<p><%= item.item.introduction %></p>
<p><%= "¥#{item.item.non_tax_price}（税込）" * 1.1 %></p>
<% end %>

