<div class="fluid-box fourth-visual">
    <div class="bg-mask-w">
        <div class="fluid-box-inner">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="content-center">
                        <img src="/assets/logo-s.png" style="margin-top: 80px;">
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="content-center">
                   <h5 style="font-weight: bold; font-size: 40px;">お買い上げありがとうございました！</h5>
                <br>
                       <p>またのご利用お待ちしてます。</p>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>