<div class="fluid-box first-visual">
    <div class="bg-mask-w">
        <div class="fluid-box-inner">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="content-center">
                        <img src="/assets/logo-s.png" style="margin-top: 80px;">
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="content-center">
                   <h3 style="font-weight: bold; font-size: 40px;">ながのCAKEの味を全国へおとどけします</h3>
                <br>
                       <p>みなさまのご要望にお応えして販売サイトをオープンしました！</p>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fluid-box second-visual">
    <div class="bg-mask-b">
        <div class="fluid-box-inner">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="content-center" style="margin-top: 200px; padding: 20px; background: rgba(0,0,0,0.3);">
                        <h3 style="font-weight: bold; font-size: 40px;">NaganoCakeのこだわり</h3>
                        <br>
                        <p>お客様の体と健康を第一に考え、<br>より自然な素材で添加物を極力使用せず、<br>そしてどこよりもお値打ち価格でご提供。<br><br>全てのお客様に愛されるケーキ屋でありたい・・・。<br><br>
                            <p>それがNaganoCakeの願いです。<br>私たちNaganoCakeはこの思いを大切に、<br>ケーキ作りに取り組んでいます。</p>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fluid-box third-visual">
    <div class="bg-mask-w">
        <div class="fluid-box-inner">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="content-center" style="margin-top: 200px; padding: 20px; background: rgba(255,255,255,0.3);;">
                        <h3 style="font-weight: bold; font-size: 40px;">あんしんして食べられる食材</h3>
                        <br>
                        <p>無添加でも、糖質カットでも、低アレルゲンでも。<br>
                            素材がおいしいから、そのおいしさは変わりません。<br>心も、体も、笑顔にするスイーツは、みんなのもの。<br>健康に配慮したスイーツの開発が始まって10年余り。<br>
                            これからもながのCAKEは、素材自慢の<br>
                            おいしいスイーツをみなさまへお届けします。</p>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$('.content-center').hide().fadeIn(1500);
</script>