<div style="height: 800px;background-image: url(/assets/about1.jpg);">
    <div class="row">
        <div class="col-md-4" >
        </div>
        <div class="col-md-5" >
            <img src="/assets/logo-s.png"style="width: 400px;margin: auto;top: 0;bottom: 0; z-index: 2; ">
        </div>
        <div class="col-md-3" >
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" >
        </div>
        <div class="col-md-8" >
            <h3>NaganoCakeのこだわり</h3>
            <p>お客様の体と健康を第一に考え、より自然な素材で添加物を極力しようせず、</p>
            <p>そしてどこよりもお値打ち価格でご提供し、全てのお客様に愛されるケーキ屋でありたい・・・。</p>
            <p>それがNaganoCakeの願いです。</p>
            <p>私たちNaganoCakeはこの思いを大切に、ケーキ作りに取り組んでいます。</p>
        </div>
        <div class="col-md-1" >
        </div>
    </div>
</div>